body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1600px;
  margin: auto;
}

/* header related styles */

.header {
  background-image: url('../images/banner/banner1.png');
  background-size: cover;
}

h1 {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
}

.sec-content {
  padding: 250px 0px;
  text-align: right;
  max-width: 525px;
  margin-left: auto;
}

.common-paragraph {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  padding: 30px 0;
}

.sec-btn {
  border-radius: 5px;
  background: #F15B22;
  border: 0;
  padding: 21px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

/* main section related styles */

h2 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
  margin-left: auto;
}

.circle {
  width: 527.929px;
  height: 527.929px;
  border-radius: 527.929px;
  background: rgba(241, 91, 34, 0.20);
  position: relative;
}

.person {
  width: 527.929px;
  height: 650.929px;
  position: absolute;
}

.circle-container {
  position: relative;
}

.failures-section {
  align-items: center;
  margin-left: auto;
  text-align: right;
  margin-right: 400px;
  margin-top: 370px;
}

.failure-paragraph {
  color: #444343;
  width: 416px;
  font-size: 16px;
  font-weight: 400;
  margin-left: auto;
}

.failures-list {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
display: table ;
margin-left: auto;
}