* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}


.container {
  max-width: 1600px;
  margin: auto;
}

/* header related styles */

.header {
  background-image: url('../images/banner/banner1.png');
  background-size: cover;
}

h1 {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
}

.sec-content {
  padding: 250px 0px;
  text-align: right;
  max-width: 525px;
  margin-left: auto;
}

.common-paragraph {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  padding: 30px 0;
}

.sec-btn {
  border-radius: 5px;
  background: #F15B22;
  border: 0;
  padding: 21px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

/* main section related styles */

.failures-prev-year-sect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

h2 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  width: 288px;
  margin-bottom: 24px;
}

.prev-year-sect-paragraph {
  width: 416px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.failures-list {
  margin-top: 16px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.circle {
  border-radius: 527.929px;
  background: rgba(241, 91, 34, 0.20);
  width: 527.929px;
  height: 527.929px;
  margin-right: 87px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle img {
position: absolute;
width: 100%;
height: auto;
z-index: 10;
}